<div class="flex flex-col items-center">
  <div class="text-lg mb-2">Double click on body to mark landmarks</div>
  <div class="w-full flex justify-center">
    <div class="p-1 rounded bg-[ededed] border">
      <div class="w-[550px] rounded" id="viewPort"></div>
    </div>
  </div>
</div>
