<div
  class="absolute top-0 left-0 w-full h-screen bg-white/60 z-50 justify-center items-center hidden"
  id="selectLandmarkDialog"
>
  <div
    class="bg-white border flex flex-col w-[300px] h-[200px] px-4 py-2 rounded-xl justify-between gap-2"
  >
    <div class=""></div>
    <div class="flex flex-col gap-2">
      <label for="">Select the landmark</label>
      <select name="" id="landmarkSelect">
        <option>Select a landmark</option>
      </select>
      <button
        class="bg-black text-white rounded py-1"
        onclick="landmarkSelectSubmit()">Add</button
      >
    </div>
    <div class=""></div>
  </div>
</div>
