<div
  class="absolute top-0 left-0 w-full h-screen bg-white/60 z-50 justify-center items-center hidden"
  id="selectLevelDialog"
>
  <div
    class="bg-white border flex flex-col w-[300px] h-[200px] px-4 py-2 rounded-xl justify-between gap-2"
  >
    <div class="flex justify-end">
      <button onclick="customLevelDialogClose()">X</button>
    </div>
    <div class="flex flex-col gap-2">
      <label for="">Select the level</label>
      <select name="" id="levelSelecter"> </select>
      <button
        class="bg-black text-white rounded py-1"
        onclick="levelSelectSubmit()">Add</button
      >
    </div>
    <div class=""></div>
  </div>
</div>
