---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <nav class="absolute top-0 left-0 z-50 print:hidden">
      <div class="p-4">
        <div class="h-16">
          <div class="">
            <a
              href="/"
              class="text-xl font-bold text-gray-900 hover:text-gray-700 transition-colors"
            >
              3D Fit
            </a>
          </div>
        </div>
      </div>
    </nav>
    <div
      id="loading-spinner"
      style="display: none; position:fixed; top:50%; left:50%; transform:translate(-50%,-50%); z-index:9999;"
      class="flex justify-center items-center flex-col"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-loader-icon lucide-loader size-11 animate-spin"
        ><path d="M12 2v4"></path><path d="m16.2 7.8 2.9-2.9"></path><path
          d="M18 12h4"></path><path d="m16.2 16.2 2.9 2.9"></path><path
          d="M12 18v4"></path><path d="m4.9 19.1 2.9-2.9"></path><path
          d="M2 12h4"></path><path d="m4.9 4.9 2.9 2.9"></path></svg
      >
      <h1>Loading..........</h1>
    </div>
    <slot />
  </body>
</html>
